
#navbar{
    flex-wrap: wrap;
}

#navbar img{
    margin: 5px 0px;
    height: 35px;
    width: 35px;
}

#nav{
    font-size: 14px;
}

#navbar div{
    margin: 0px;
}

#navbar #nav a{
    padding: 1px 3px;
    margin: 2px;
    border-radius: 5px;
}

#navbar button{
    margin: 2px 2px;
}

#reach-us button{
    height: 20px;
    width: 20px;
}
#home{
    height: 100vh;
    padding: 0px 0px;
    position: relative;
    justify-content: center;
    align-items: center;
}
#home::before{
    height: 100%;
}

#home h1{
    font-size: 40px;
}

#home p{
    font-size: large;
}

#services{
    height: auto;
}

#about-services{
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
    
}

#about-services div{
    height: auto;
    max-height: 70vh;
    width: auto;
    max-width: 80vw;
    min-width: 100px;
}

#menu{
    flex-direction: row;
    height: 50vh;
}

.inner_menu{
    height: 15vh;
}

.inner_menu:hover{
    height: 30vh;
}

.inner_menu ul{
    font-size: small;
    list-style-type: disc;
    justify-content: center;
}

.inner_menu ul li{
    margin: 0px;
}

#menu1:hover{
    transform: translate(0vw, 17vh);
}

#menu2:hover{
    transform: translate(-14vw, 17vh);
}

#menu3:hover{
    transform: translate(-28vw, 17vh);
}

#menu4:hover{
    transform: translate(-42vw, 17vh);
}

#partners{
    height: auto;
    flex-wrap: wrap;
}

#about-partners{
    flex-wrap: wrap;
    height: auto;
}

#partners div img{
    height: 50px;
    width: 50px;
    margin: 2rem 1rem;
}

#partners::before{
    height: 100%;
}

#contact-us::before{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: url('../images/s4.jpg') no-repeat center center/cover;
    opacity: 0.5;
}

#contact-us{
    margin: 0px;
    padding: 0px;
}

#contact-us form{
    width: 80%;
    margin-left: 10%;
    border-radius: 0px;

}

#contact-us form input, textarea, select{
    font-size: 0.7rem;
}